{% extends 'base.html' %} 
{% block title %}Daycares{% endblock %} 

{% block body %}
<ul>
  {% for i in range(len(data.businesses)) %}
  <form action="/search/{{ business.name }}/{{ business.location.city }}" method="POST">
  <li id="name">{{ business.name}}</li>
  <li id="agelow">{{ business[i][age_low]}}</li>
  <li id="agehigh">{{ business[i][age_high]}}</li>
  <li id="languages">{{ business[i][languages] }}</li>
  <li id="potty">{{ business[i][potty] }}</li>
  <li id="fee">{{ business[i][monthly_fee] }}</li>
</ul>
  
    
  <button type="submit">Interested</button>

</form>

{% endfor %} 
{% endblock %}
