{% extends 'base.html' %} {% block title %}Daycares near you{% endblock %} {%
block body %}
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="/search" class="lead backlink"> Go back to the homepage </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="results-as-json">
        <h2>Results as JSON</h2>
        <pre>{{ pprint(data) }}</pre>
      </div>

      <div id="event-search-results">
        <h2>Daycare Search Results</h2>

        <p>
          <span id="result-count"> {{ data['page']['totalElements'] }} </span>
          businesses matched your search.
        </p>

        <ul class="businesses-list list-group">
          {% for business in results %}
          <li class="list-group-item list-group-item-action">
            <div class="row">
              <div class="col-2">
                <img src="{{ business['images'][0]['url'] }}" />
              </div>

              <div class="col">
                <div class="d-flex w-100 justify-content-between">
                  <a href="/business/{{ business['id'] }}" target="_blank">
                    <h5>{{ business['name'] }}</h5>
                  </a>
                  <small>{{ business['dates']['start']['localDate'] }}</small>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
